certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
Flask==2.0.1
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
proxy-tools==0.1.0
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-WebKit==7.3
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pywebview==3.5
requests==2.26.0
urllib3==1.26.7
Werkzeug==2.0.1
