gunicorn==20.1.0
proxy-tools==0.1.0
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-WebKit==7.3
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pywebview==3.5
